.signup__image--container {

    background-image: url('D:\mern_ecom\frontend\src\images\image.jpg');
    height: 68vh;
    background-size: cover;
    margin-top: 7%;

}

.signup__form--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.mb-3 {
    padding: 10px;
}

.signup-btn {
    background-color: rgb(7, 7, 96);
    transition: 1s;
    border-color: rgb(7, 7, 96);
}
.signup-btn:hover{
    background-color: rgb(70, 70, 243);
    border-color: rgb(70, 70, 243);
}

@media screen and (max-width: 756px) {
    .signup__image--container{
        display: none;
    }
    .signup__form--container{
        background-color: rgba(241, 239, 239, 0.934);

    }
    
}